body {
    width: 94%;
    margin-left: 3%;
    background-color: #AEB6BF;
}

header {
    text-align: center;
    height: 60px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(13,13,99,1) 100%);
    color: white;
    padding-top: 5px;
    width: 102%;
    margin-left: -1%;
}

header h1 {
    text-align: center;
    margin-top: 10px;
}

.title {
   margin-top: 50px;
}

main {
    padding-bottom: 43%;
}

.search {
    width: 30%;
    height: 85%;
    margin-left: 2.5%;
}

.search hr {
    height: 2px;
    width: 72%;
    background-color: black;
    margin-left: 49px;
}

.conditions {
    width: 61%;
    height: 80%;
    margin-left: 36%;
}

.search, .conditions {
    position: absolute;
    margin-top: 1%;
}

.current {
    border: 2px solid black;
    height: 42%;
    background-color: white;
}

.current h2 {
    margin-top: 2px;
}

.forecast-heading {
    height: 8%;
}

.forecast-heading h3 {
    margin-top: 8px;
    margin-left: 6px;
}

.days {
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.days p {
    margin-top: 2px;
}

.current {
    position: relative;
}

.current, .forecast-heading, .days {
    width: 90%;
    margin-left: 5%;
}

.current i {
    margin-left: 5%;
    margin-top: 18%;
    position: absolute;
}

.first, .second, .third, .fourth, .fifth {
    border: 1px solid grey;
    width: 18%;
    background-color: #273746;
    color: white;
}

.search-heading {
    height: 10%;
}

.search-heading h2 {
    text-align: center;
}

.bar {
    height: 20%;
}

.bar input {
    width: 70%;
    height: 35px;
    margin-top: 10px;
}

/* .history {
    width: 216px;
    height: 100px;
    background-color: #566573;
    margin-top: -15px;
    margin-left: 50px;
    position: fixed;
}

.history ul {
    list-style-type: none;
    color: white;
    margin-left: -35px;
    margin-top: 2px;
} */

.bar button {
    width: 72%;
    height: 35px;
    margin-top: 10px;
    background-color: #3296F0;
    color: white;
}

.popular {
    height: 68%;
}

.popular button {
   width: 72%;
   height: 9%;
   background-color: #D5D8DC;
   margin-top: 10px;
}

.bar input, .bar button, .popular button {
    margin-left: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    header {
        margin-top: -7px;
        padding-bottom: 50px;
        width: 120%;
        margin-left: -4%;
    }

    header h1 {
        margin-left: -40px;
        font-size: 75px;
    }

   .search {
       width: 100%;
       margin-left: 8%;
       margin-top: 5%;
   }

   .search h2 {
       font-size: 50px;
       margin-left: -15%;
   }

   .bar input {
       height: 60px;
       font-size: 30px;
   }

   .bar button {
       height: 75px;
       font-size: 45px;
   }

   .popular button {
       height: 70px;
       font-size: 35px;
   }

   .conditions {
       margin-top: 140%;
       margin-left: 0%;
       width: 100%;
       position: absolute;
   }

   .current {
       border: 7px solid black;
       margin-left: 4%;
       position: relative;
       height: 60%;
   }

   .current h2 {
       font-size: 50px;
   }

   .current p {
       font-size: 40px;
   }

   .current i {
       margin-top: 340px;
       margin-left: 75px;
   }

   .forecast-heading h3 {
       text-align: center;
       font-size: 35px;
       margin-top: 35px;
   }

   .days p {
       font-size: 30px;
   }

   .first, .second, .third, .fourth, .fifth {
       width: 19%;
       height: 390px;
   }
}

@media screen and (max-width: 540px) {

    header {
        height: 150px;
    }

    header h1 {
        margin-right: 23px;
    }

    .search {
        margin-left: 0px;
    }

    .search-heading h2 {
        margin-left: -55px;
    }

    .popular {
        margin-top: 50px;
    }

    .conditions {
        width: 95%;
        margin-top: 1000px;
    }

    .current {
        height: 560px;
    }

    .days p {
        font-size: 20px;
    }

    .first, .second, .third, .fourth, .fifth {
        width: 20%;
        height: 275px;
    }
}

@media screen and (max-width: 414px) {
    
    header h1 {
        margin: 8px;
    }

    .search {
        margin-left: -3px;
        margin-top: 0px;
    }

    .search h2 {
        margin-left: -10px;
    }

    .conditions {
        margin-left: -3px;
    }

    .days p {
        font-size: 15px;
    }

    .first, .second, .third, .fourth, .fifth {
        width: 20%;
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    
    .search {
        margin-left: -6px;
    }

    .search h2 {
        margin-left: -12px;
    }
}